<!DOCTYPE html>
<html>
  <head>
    <title>MiniCapstone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
<!--    <%#if current_user %> -->
      <a href="/products/new">Make new product</a>
      <a href="/products/<%= @product.id %>/edit">Update Product</a>
<!--     <%#end%> -->
    <%= yield %>
  </body>
</html>
